.leave-mission__button,
.join-mission__button {
  border-radius: 3px;
  width: 8rem;
  height: 2.2rem;
  font-size: 1.1rem;
  background-color: transparent;
  border: solid 1px;
}

.join-mission__button {
  border-color: black;
}

.leave-mission__button {
  border-color: red;
  color: red;
}
