.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #333;
  padding: 1rem 2.8rem;
  font-size: 1.8rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  text-transform: capitalize;
}

.nav-links {
  display: flex;
  gap: 1.4rem;
}

.nav-li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #0069d9;
}

.nav-link.active {
  text-decoration: underline;
  color: #0069d9;
}

.logo {
  width: 4rem;
}

.line {
  height: 1.3rem;
  width: 0.2rem;
  align-self: center;
  background-color: #555;
}
