.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #333;
  padding: 1rem 2.8rem;
  font-size: 1.8rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  text-transform: capitalize;
}

.nav-links {
  display: flex;
  gap: 1.4rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.logo {
  width: 4rem;
}
